<section>
    <div class="container body-content">
        <div ng-app="BudgetApp">
            <div ng-controller="homeCtrl">
                <h2>Dashboard</h2><hr /><br />
                <div class="row">
                    <div class="col-xs-4">
                        <button class="btn btn-primary" ng-click="home.getHouseholdNameById()">Get Household Name</button>
                    </div>
                    <div class="col-xs-8">
                        {{home.householdName}}
                    </div>                    
                </div><br />
                <div class="row">
                    <div class="col-xs-4">
                        <button class="btn btn-primary" ng-click="home.getHouseholdMembers()">Get Household Members</button>
                    </div>
                    <div class="col-xs-8">
                        <div ng-repeat="h in home.members">
                            {{h.FirstName}} {{h.LastName}}
                        </div>
                    </div>
                </div><br />
            </div>
        </div>
    </div>
</section>